* {
    color: #000;

    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    display: grid;
    height: 1000px;
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: 100px 1000px 60px 10px;
    gap: 10px;
}

.item {
    background-color: #a7e9a6;
    border-radius: 20px;

    grid-column: 1/3;
    grid-row: 1/2;
}

.form {
    border-radius: 20px;
    gap: 10;
    grid-area: 1/3/3/4;
    background-color: #a7e9a6;

}

.footer {
    background-color: #a7e9a6;
    border-radius: 20px;

    grid-area: 3/1/4/4;

}

body {
    background: #7fdbae;
}

h1,
h2,
h3 {
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.imagen {
    border-radius: 20px;
    background-color: #a7e9a6;
    display: grid;
    grid-area: 2/1/3/2;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 250px 200px 250px 260px;
    grid-template-areas:
        "text text text text"
        "i4 i4 i5 i6  "
        "i4 i4 i7 i8   "
        "i9 i9 i11 i12  "
        "i9 i9 i10 i13 ";
}

.text {
    grid-area: text;
}

.info {
    gap: 10;
    grid-template-areas: 12px;
}

.cars {

    border-radius: 30px;
    background-color: #a7e9a6;
    display: grid;
    grid-area: 2/2/3/3;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 90px 260px 230px 260px 260px;
    grid-template-areas:
        "text text text text"
        "i4 i4 i5 i6  "
        "i4 i4 i7 i8   "
        "i9 i9 i11 i12  "
        "i9 i9 i10 i13 ";
}

@media (min-width: 300px) and (max-width: 420px) {
    .contenedor {
        display: grid;
        height: 2600px;
        grid-template-columns: 100%;
        grid-template-rows: 100px 1000px 1000px 400px 60px;
        gap: 10px;
    } 
    .item{
        grid-area: 1/1/2/2;
    }  
    .cars{
       grid-area: 2/1/3/2;
    }
    .imagen{
        grid-area: 3/1/4/2;
    } 
    .form{
        grid-area: 4/1/5/2;
    }
    .footer{
        grid-area: 5/1/6/2;
    }
}

@media (min-width: 421px) and (max-width: 1030px) {
    .contenedor {
        display: grid;
        height: 2000px;
        grid-template-columns: 70% 30%;
        grid-template-rows: 100px 1000px 1000px 60px;
        gap: 10px;
    } 

    .item{
        grid-area: 1/1/2/2;
    }  
    .cars{
       grid-area: 2/1/3/2;
    }
    .imagen{
        grid-area: 3/1/4/2;
    } 
    .form{
        grid-area: 1/2/4/3;
    }
    .footer{
        grid-area: 4/1/5/3;
    }
}